body{
    margin:8px 8px;
}

.people-list {
    margin: auto 0;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
}
.person {
    width: 31%;
    height: 33vh;
    border: 1px solid;
    margin: 8px;
}

.person h2{
    background-color: aqua;
    margin: 0;
    padding: 8px;
}